<ion-header class="ion-no-border">
  
</ion-header>

<ion-content>

  <div class="container">
    <div class="overlay">
    </div>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card class="welcome-card">    
          <ion-card-header>
             <center><ion-card-title><strong>3,4</strong></ion-card-title></center>
             <center><ion-card-title><strong>IP Kumulatif</strong></ion-card-title></center>
           </ion-card-header>
           </ion-card>
       </ion-col>
      <ion-col>
        <ion-card class="welcome-card">    
          <ion-card-header>
             <center><ion-card-title><b>42</b></ion-card-title></center>
             <center><ion-card-title><b>SKS Tempuh</b></ion-card-title></center>
           </ion-card-header>
           </ion-card>
       </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>     
      <ion-col size="4">
        <ion-card routerLink="/jadwal" color="dark">
          <ion-card-header><img src="../../assets/jadwal.png"></ion-card-header>
          <ion-card-title class="ion-margin-bottom"><strong>Schedule</strong></ion-card-title>
        </ion-card>
      </ion-col>

      <ion-col size="4">
        <ion-card routerLink="/prestasi" color="dark">
          <ion-card-header><img src="../../assets/prestasi5.png"></ion-card-header>
          <ion-card-title class="ion-margin-bottom"><strong>Performance</strong></ion-card-title>
        </ion-card>
      </ion-col>

      <ion-col size="4">
        <ion-card routerLink="/nilai" color="dark">
          <ion-card-header><img src="../../assets/nilai1.png"></ion-card-header>
          <ion-card-title class="ion-margin-bottom"><strong>Score</strong></ion-card-title>
        </ion-card>
      </ion-col>

      <ion-col size="4">
        <ion-card routerLink="/materi" color="dark">
          <ion-card-header><img src="../../assets/materi1.png"></ion-card-header>
          <ion-card-title class="ion-margin-bottom"><strong>Materials & Assignments</strong></ion-card-title>
        </ion-card>
      </ion-col>

      <ion-col size="4">
        <ion-card routerLink="/krs" color="dark">
          <ion-card-header><img src="../../assets/krs.png"></ion-card-header>
          <ion-card-title class="ion-margin-bottom"><strong>Study Plan Card</strong></ion-card-title>
        </ion-card>
      </ion-col>

      <ion-col size="4">
        <ion-card routerLink="/biaya" color="dark">
          <ion-card-header><img src="../../assets/biaya.png"></ion-card-header>
          <ion-card-title class="ion-margin-bottom"><strong>Cost & Finance</strong></ion-card-title>
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>

