
ion-content {
  --ion-background-color: rgb(40, 69, 255);
}

ion-header {
  position: absolute;
  --ion-background-color: rgb(40, 69, 255);
}

.ion-toolbar {
  --ion-background-color: rgb(255, 255, 255);
  --opacity: 0;
}

ion-title {
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: lighter;
  color: rgb(0, 0, 0);
}
.container {
  width: 100%;
  height: 140px;
  display: block;
  background-color: white;
}

.overlay {
  position: relative;
  text-align: center;
  top: 48%;
}

ion-avatar {
  height: 130px;
  width: 130px;
  margin: auto;
  border: 4px solid rgb(40, 69, 255);
}

ion-card {
  margin-top: 40px;
  background-color: transparent;
  box-shadow: none;
  text-align: center;
}

ion-item {
  --ion-item-background: #536c77;
  text-align: center;
  color: #c2c3c4;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, 
  "Trebuchet MS", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
  border-radius: 5px;
  height: 35px;
  --min-height: 35px;
  margin-bottom: 15px;
}

ion-label {
  text-align: center;
}